
html, body {
    font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu";
    margin: 0.25em;
}

.timer {
    margin: 0.25em;
    font-size: 1.5em;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.error {
    color: firebrick;
}

.row {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    margin: .15em;
}

.totp {
    display: inline;
    margin: .15em;
    border-radius: .35em;
    border: .15em solid darkslategray;
    padding: .15em;
}

.name {
    display: inline;
    margin: .15em;
    border: .15em;
    padding: .15em;
}

.version {
    cursor: pointer;
    font-size: small;
    position: absolute;
    bottom: 0;
    left: 1em;
    /*width: 100%;*/
    height: 2em;
}
